{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block content %}
<h1>Conditions Générales d'Utilisation</h1>
<p>Bienvenue sur notre site. En utilisant ce site, vous acceptez les conditions suivantes :</p>
<h2>Utilisation du site</h2>
<p>Vous vous engagez à respecter les lois en vigueur et à ne pas utiliser ce site à des fins malveillantes.</p>
<h2>Propriété intellectuelle</h2>
<p>Tout le contenu de ce site est protégé par les droits d'auteur.</p>
{% endblock %}
