{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
<h1>Mentions Légales</h1>

<p>
    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, 
    il est précisé aux utilisateurs du site <a href="/" target="_blank">/</a> 
    l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</p>

<h2>Édition du site</h2>
<p>
    Le présent site, accessible à l’URL <a href="" target="_blank">/</a> (le « Site »), 
    est édité par : <strong>Vimana Paris</strong>, Société par Actions Simplifiée au capital de 100 euros, inscrite au R.C.S. de Paris sous le numéro 
    904 070 000, dont le siège social est situé au 63 rue Pascal – 75013 Paris, représentée par <strong>NONAT Marie</strong> et <strong>RICHARD Vani</strong> dûment habilités.
</p>

<h2>Hébergement</h2>
<p>
    Le Site est hébergé par la société <strong>OVH SAS</strong>, une filiale de la société OVH Groupe SA, 
    située au siège social : 2 rue Kellermann – 59100 Roubaix – France.
</p>

<h2>Directeur de publication</h2>
<p>
    Le Directeur de la publication du Site est <strong>RICHARD Vani</strong>.
</p>

<h2>Nous contacter</h2>
<ul>
    <li><strong>Par téléphone :</strong> + 33 (0) 6 04 17 51 89</li>
    <li><strong>Par email :</strong> <a href="mailto:contact@vimanaparis.fr">contact@vimanaparis.fr</a></li>
    <li><strong>Par courrier :</strong> 63 rue Pascal, 75013 Paris</li>
</ul>

<h2>Données personnelles</h2>
<p>
    Le traitement de vos données à caractère personnel est régi par notre <a href="/charte-vie-privee" target="_blank">Charte du respect de la vie privée</a>, 
    conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD »).
</p>
{% endblock %}
