{% extends 'base.html.twig' %}
{# templates/expertise/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>Expertise</title>
    </head>
    <body>
        <h1>Bienvenue sur notre page d'expertise</h1>
        <p>Voici une présentation de nos services d'expertise.</p>

        
    </body>
</html>
