{% extends 'base.html.twig' %}

{# templates/pages/apropos/index.html.twig #}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    <h1>À propos de nous</h1>
    <p>Nous sommes une équipe passionnée par le développement web avec Symfony...</p>
{% endblock %}
