/* Style de formulaire */
form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #3d0565;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

form .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

form .form-group input:focus {
    border-color: #6e0108; /* Accent de couleur */
    outline: none;
}

form .btn {
    background-color: #6e0108;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    background-color: #540168;
}

form .alert {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

form .alert-success {
    background-color: #28a745;
    color: white;
}

form .alert-danger {
    background-color: #dc3545;
    color: white;
}
