{% extends 'base.html.twig' %}
{# templates/realisation/index.html.twig #}




{% block title %}Retrouvez nos projets réalisés - Vimana Paris{% endblock %}

{% block content %}
<div class="realizations-section">
    <h2>Retrouvez nos projets réalisés</h2>

    <div class="realization">
    <img src="assets/images/20240604_113520-1-scaled (1).jpg" alt="pays mele">
        <h3>Conception et réalisation d’une scénographie – Pays Mêlé</h3>
        <p>
            En accord avec la direction artistique de Christelle Clairville, nous avons créé une scénographie qui met à l’honneur la qualité du travail des artistes sélectionnés. Nous avons œuvré pour que les publics aient envie d’y rester, et d’y passer un moment de culture et de détente.
        </p>
        
    </div>

    <div class="realization">
    <img src="assets/images/vani desk two.jpeg" alt="porteurs de projets">
        <h3>Permanence de conseils – Porteurs de projets</h3>
        <p>
            Permanences d’accompagnement dédiées aux porteurs de projets. Notre équipe se met à disposition pour répondre à toutes leurs questions, leur fournir des conseils personnalisés et leur donner les clés pratiques.
        </p>
        
    </div>

    <div class="realization">
    <img src="assets/images/vieto4.webp" alt="Elvieto">
        <h3>Production de concert – Elvieto</h3>
        <p>
            Nous avons eu l’honneur de produire le concert d’Elvieto, un rappeur aux sons engagés, enrichis par un travail approfondi des paroles et une musique live captivante avec guitare électrique et saxophone.
        </p>
       
    </div>
</div>
{% endblock %}
