{# templates/email/confirmation_success.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation réussie</title>
</head>
<body>
    <h1>Votre adresse email a été confirmée avec succès !</h1>
    <p>Merci de nous avoir rejoint ! Vous pouvez maintenant vous connecter.</p>
</body>
</html>
